@model IEnumerable<McCarSales.Models.Lot>

@{
    ViewData["Title"] = "Contact";
}


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Contact</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    

    <main id="main">

        <!-- ======= Contact Section ======= -->
    <br>
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title, text-center">
                    <h3 class="text-light">Come by our lots, or contact us by phone or email!</h3>
                </div>



                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <h4>Two convenient locations:</h4>
                                <br>
                                <h6>Avon's Imports:</h6>
                                <p>411 Woodland Lane<br>Avon-by-the-Sea 07717</p>
                               <h6>Belmar Used Cars:</h6>
                                <p>5th Avenue Belmar 07719</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>coakleycars@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 800 625 6950</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-8 mt-lg-0">



                        <form id="form" role="form">
                            <br>
                            <br>
                            <br>
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="first_name" class="form-control" id="first_name" required placeholder="First Name" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" name="last_name" class="form-control" id="last_name" required placeholder="Last Name" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" required placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone Number" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" required placeholder="How may we help you today?"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="text-center"><button type="submit" id="button">Send Message</button></div>

                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
</body>
</html>