@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <br>
    <br>
    <h1 class="text-light">Welcome to McCarSales!</h1>
    <br> <br> <br>

    <h3><a class="nav-link text-light" href="https://localhost:44329/Cars">Search our cars</a></h3>
    <br>
    <br>
    <h3><a class="nav-link text-light" href="https://localhost:44329/Home/Contact">Come by or contact us</a></h3>
    <br>
    <br>
    <br>
   
</div>
